.header{
    text-align: center;
    background-color: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    width: 100%;
    
    background-color: rgba(74, 14, 177, 0.933);
    height: auto;
    overflow: visible;
}
.nav{
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;

}
div{
    text-align: center;
    margin: 12px;
}
.myself{
    text-align: justify;
    border: 2px solid rgb(198, 197, 197);

}
a{
    display: block;
}
.com {
color: blue;  
}
.contact{
    margin:  auto; 
    border: 2px solid rgb(198, 197, 197);
    display: block;
    width: fit-content;
}
footer{
    text-align: center;
    color: white;
    padding: 1%;
    background-color: rgba(74, 14, 177, 0.933);
}
.hi{
    border: 2px solid rgb(198, 197, 197);

}